@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #2B3467; /* Paleta de Cores: https://colorhunt.co/palette/2b3467bad7e9fcffe7eb455f */
  --cor-secundaria: #FCFFE7;
  --cor-terciaria: #EB455F;
  --cor-hover: #58b1e0; /* Alterei para 25% mais escuro: https://encycolorpedia.pt/9ad0ec */

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


/* Estilização da página Home */

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2rem 0 0 12rem;
}

.cabecalho__menu {
  display: flex;
  gap: 5rem;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 5rem 12rem;
}

.apresentacao__conteudo {
  width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
  font-size: 36px;
}

.titulo__destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  background-color: var(--cor-primaria);
  width: 24rem;
  text-align: center;
  border-radius: 0.5rem;
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  padding: 1.3rem 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  border: 0.15rem solid var(--cor-terciaria);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
}

.rodape {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  font-weight: 400;
  padding: 1.5rem;
  text-align: center;
}


/* Estilização da página Sobre mim */


/* Estilização da página Currículo */

.experiencia__conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.curriculo__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 24px;
  list-style: none;
}

.projetos__texto {
  padding: 1em 0 0.5em 0;
}

.projetos__imagem {
  width: 100%;
  padding: 0 0 2em 0;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 0 10% 10% 10%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}